<!DOCTYPE html>
<html>
<head>
	<link href="css/shared.css" rel="stylesheet" type="text/css">
	<style>
		#content {
		   width: 100%;
      height: 950px;
		}
		#footer {
       position: relative;
       top: 0px;
       left: 0px;
     }
    #footer_wrapper {
      width: 100%;
      top: 850px;
      color: blue;
      position: absolute;
    }
    #confirmation_notice {
      top: 200px;
      left: 20px;
        position: relative;
        margin: 0 auto;
        text-align: center;
      padding: 50px;
    }
    h1 {
      font-size: 80px;
    }

    h2 {
      font-size: 40px;
    }
	</style>
</head>
<body>
	<div id="content">
    <div id="footer_wrapper">
		<div id="footer">
            <span id="fc_1">&#169; 2023 School on Wheels</span>
            <span id="fc_2">Skid Row Learning Center<br>
            600 East 7th Street, Ste 109 <br>
            Los Angeles, CA 90021</span>
            <span id="fc_3">(999) 999-9999
            schoolonwheelsusc@gmail.com</span>
         </div>
    </div>

  <div id="confirmation_notice">
    <h1>Thank you for signing up to make a difference!</h1>
    <h2>We will be reaching out to you shortly. </h2>
  </div>

	<div id="header">
        <div id="header_c">
            <a id="logo_frame" href="index.html" target="_blank">
               <div id="logo_img"></div>
               <span id="logo_txt">School on Wheels USC</span>
            </a>
            <a id="about_us" href="about_us.html">About Us</a>
            <a id="join_us" href="join_us.html">Join Us</a>
            <a id="gallery" href="gallery.html">Gallery</a>
        </div>
    </div>
</div>
</body>
</html>
